<!DOCTYPE html>
<html>
<head>
	<title>Youtube_Sinatra</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<div class="toolbar">
		<img id="ytlogo" src="/images/ytlogo.jpg">
		<a id="embd-new" href="/videos/new">Embed New Video</a>
	</div>

		<%= yield %>

</body>
</html>