<!DOCTYPE html>
<html>
<head>
	<title>Youtube_Sinatra</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

	<a href="/videos/new">Embed new video</a>

	<%= yield %>

</body>
</html>